.rkItem{
    .rkImgLeft{
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    .photoTop{
        background: url(images/groupRankkingItem/bgContainer.png) no-repeat;
        background-size: 100% 100%;
        padding: 20% 10%;
        >p{
            color: white;
            font-size: 16px;
        }
        .flexPt{
            margin-bottom: 30px;
            display: -webkit-flex;
            .photoLeft{
                position: relative;
                width: 50%;
                .mainPhoto{
                    width: 100%;
                }
                .bgPhoto{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    width: 100%;
                    height: 100%;
                }
            }
            .textPhoto{
                width: 50%;
                text-align: center;
                color: white;
                align-self: center;
                span{
                    font-size: 20px;
                }
                p{
                    font-size:  44px;
                }
            }
        }
        .owlRankking{
            .owl-nav.disabled{
                display: block!important;
            }
            .setHeight{
                height: auto;
            }
        }
    }
    .sliderPt{
        p{
            text-align: center;
            font-size: 30px;
            color: #e6c500;
        }
    }
    .imgPhoto{
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
    }
    .owl-next{
        background-image: url(images/groupRankkingItem/next.png);
        top: 42%;
    }
    .owl-prev{
        background-image: url(images/groupRankkingItem/prev.png);
        top: 42%;
    }
    .sliderPt{
        background: url(images/groupRankkingItem/bg2.png) no-repeat;
        background-size: 100% 100%;
        padding: 50px 20px;
        margin-top: 50px;
    }
    .rkBot{
        background: url(images/groupRankkingItem/bg3.png) no-repeat;
        background-size: 100% 100%;
        padding: 5% 10% 20% 10%;
        margin-top: 50px;
        p{
            font-size: 26px;
            text-align: center;
            font-weight: bold;
            color: #bb9702;
        }
        span{
            display: block;
            text-align: center;
            font-size: 16px;
            color: white;
        }
    }
    .imgRight img{
        width: 100%;
        margin-bottom: 20px;
    }
    .home-left{
        z-index: 4;
        padding-bottom: 40px;
    }
}

.owl-carousel .owl-nav.disabled{
         display: block;
        }

