

.gigolo {
	.home-left {
		.lineSli {
			margin-top: 0;
			.gold { 
				.contentGold {
					margin-top: 0;
					margin-bottom: 30px;
				}
				.item {
					width: 20%;
					float: left;
					padding: 0 5px;
					margin-bottom: 30px;
					.text {
						background: url(images/group-rankking/bk5.jpg);
					    background-size: 100% 100%;
					    font-size: 12px;
					    text-align: center;
					    padding: 5px;
					    color: #fff;
					}
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.gigolo {
		.home-left {
			.lineSli {
				.gold { 
					.item {
						width: 33.33%;
					}
				}
			}
		}
	}
}