.gr-rank-lineSli{
    /*margin-top: 90px;*/
}

.group-rankking {
	margin-top: 40px;
}

.gr-rank-lineSli{
    #lineImg img{
        width: 100%;
        /*margin-bottom: 30px;*/
    }
}

.gr-rank-sliderAva {
	/*margin-bottom: 45px;*/
}

.gr-rank-sliderAva img {
	width: 100%;

}

.gr-rank-slider2 {
    /*background-color: white;*/
    /*border-radius: 10px;*/
    margin-top: 20px;
	height: auto;

}

.gr-rank-containerSlider{
	height: auto;
	margin: 0px;
	.lf {
		.bk-left {
    	    position: absolute;
    		z-index: 100;
	    }

	    .avt-left {
	    	position: relative;
	    }
	}

	.right {

		.bk-left {
			position: absolute;
		}
		.avt-left {
			background-image: url(images/group-rankking/bk1.jpg);
			background-size: 100% 100%;
			ul {
				list-style: none;
			    position: relative;
			    padding: 0px;
			    text-align: center;

			    li {
			    	display: inline-block;
			    }

			    .txt {
			    	font-size: 20px;
			    	color: white;
			    }


			}

			.txt-2 {
		    	position: relative;
			    font-size: 45px;
			    color: white;
			    text-align: center;
			    font-weight: 700;
		    }
	    	/*position: absolute;*/
	    }
	}
}


.gr-rank-p2 {

	.contents {
		margin: 0px;
		/*margin-top: 25px;*/

		.av-main {
			.bg-lf {
				position: absolute;
    			padding-right: 15px;
			}
		}

		.ft-bk {
			text-align: center;
			background-image: url(images/group-rankking/bk5.jpg);
			color: #fff;
			background-size: 100% 100%;
			p {
				color: white;
			    font-size: 23px;
			    text-align: center;
			    position: relative;
			    bottom: 72px;
			    margin-bottom: -70px;
			}
		} 
	}

	img {
		width: 100%;
	}
}

.gr-rank-footer-p1 {
	overflow: hidden;
	.item img {
		width: 100%;
	}

	.item {
		width: 20%;
		padding: 0px 5px;
    	/*margin-bottom: 50px;*/

		.ft-bk {
				background: url(images/group-rankking/bk5.jpg);
				background-size: 100% 100%;
				color: white;
			    position: relative;
			    font-size: 13px;
			    text-align: center;
			
		}
	}
}

@media(max-width: 767px){
	
	.group-rankking {
		margin: 0px;
	}
	.gr-rank-footer-p1 .item {
		width: 50%;
		/*margin-bottom: 70px;*/
	}
}

@media(max-width: 375px){
	.gr-rank-containerSlider .right .avt-left .txt-2 {
		font-size: 40px;
	}

	.gr-rank-containerSlider .right .avt-left img {
		/*width: 60px;*/
	}
}

@media screen and (min-width: 320px) {
	.group-rankking-top {
		
		#mainMenu {
			@media screen and (min-width: 768px) {
				display: inline-block;
				top: 0px;
			}

			.ctMenu {
				@media screen and (min-width: 768px) {
					position: absolute !important;
					max-width: none !important;
				}

				a {
					@media screen and (min-width: 768px) {
						display: initial;
						padding-left: 40px !important;
    					border: none;
					}

					@media screen and (min-width: 1280px) {
						padding-left: 0px !important;
    					display: inline-block;
					}
				}
			}
		}

		#main {
			.bgCheo {
				padding-left: 8%;
				@media screen and (min-width: 768px) {
					padding-left: 0px;
				}
			}

			#mainContetn {
				.container-fluid {
					padding-left: 0px;
					padding-top: 50px;
					@media screen and (min-width: 768px) {
						padding-top: 0px;
					}

					.group-rankking {
						.home-left {
							margin-top: 0px;
							padding-right: 0px;
							padding-left: 0px;

							.gr-rank-lineSli {
								margin-left: 0px;
								margin-right: 0px;

								#lineImg {
									width: 100%;
									padding-left: 0px;
									padding-right: 0px;
									@media screen and (min-width: 768px) {
										width: 25%;
										padding-left: 25px;
									}

									@media screen and (min-width: 1024px) {
										padding-left: 0px;
									}

									img {
										max-width: 40%;
										margin-left: 19px;
    									margin-bottom: 16px;

    									@media screen and (min-width: 600px) {
    										max-width: 30%;
    										margin-left: 9px;
    									}

    									@media screen and (min-width: 768px) {
    										max-width: 100%;
    										margin-left: 0px;
    									}
									}
								}

								.stt-rankking {
									padding-left: 0px;
									padding-right: 0px;
									width: 100%;

									@media screen and (min-width: 768px) {
										width: 75%;
										padding-left: 15px;
									}

									.gr-rank-slider2 {
										.gr-rank-containerSlider {
											.lf {
												padding-right: 0px;
												padding-left: 0px;

												.bk-left {
													width: 100%;
													img {
														width: 100% !important;
														height: auto !important;
													}
												}

												.avt-left {
													img {
														width: 100%;
													}
												}
											}

											.right {
												padding-right: 0px;
												padding-left: 0px;

												.avt-left {
													ul {
														padding-top: 30px;
													}

													.txt-2 {
														font-size: 37px;
														@media screen and (min-width: 1024px) {
															font-size: 28px;
														}
													}
												}

												.txt {
													font-size: 40px;
													@media screen and (min-width: 1024px) {
														font-size: 30px;
													}
												}
											}
										}
									}

									.gr-rank-p2 {
										padding-top: 30px;
										@media screen and (min-width: 768px) {
											padding-top: 0px;
										}

										.contents {
											.col-sm-6 {
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 25px;
											}

											.ft-bk {
												font-size: 25px;
											}
										}
									}
								}
							}
						}

						.home-right {
							padding-top: 30px;
							@media screen and (min-width: 768px) {
								padding-top: 0px;
							}
						}
					}
				}
			}
		}
	}
}






