.milion-god {
	.home-right {
		.logo {
			margin-bottom: 32px;
			img {
				width: 100%;
			}
		}
		.tableTop {
			margin-bottom: 20px;
		}
	}

	.titleAva1 {
		background: url(images/milion-god/t3.jpg);
		height: 45px;
	}

	.titleAva4 {
		background: url(images/milion-god/t-ban-1.jpg);
		height: 45px;
		background-size: 100% 100%;
	}

	.titleAva5 {
		background: url(images/milion-god/t-ban-2.jpg);
		height: 45px;
		background-size: 100% 100%;
	}

	.titleAva6 {
		background: url(images/milion-god/t-ban-3.jpg);
		height: 45px;
		background-size: 100% 100%;
	}

	.ct-ava {
		.titleAva1 {
			background: url(images/milion-god/le1.jpg);
			background-size: 100% 100%;
		}

		.titleAva2 {
			background: url(images/milion-god/l2.jpg);
			background-size: 100% 100%;
		}

		.titleAva3 {
			background: url(images/milion-god/l3.jpg);
			background-size: 100% 100%;
		}
	}
}