.schedule .scheTitle {
  background-image: url(images/schedule/scheTitle.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 17px 0; }
  .schedule .scheTitle .scheTitle {
    padding: 10px; }
.schedule .schedu {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: white; }
.schedule .contentSche {
  background-color: white;
  padding: 20px 5%; }
.schedule #mainContetn {
  padding: 20px 5%; }
.schedule .month {
  display: -webkit-flex;
  justify-content: space-between;
  font-size: 26px;
  margin-bottom: 30px; }
.schedule .mon1 {
  color: #003cff;
  font-weight: 900; }
.schedule .mon2 {
  color: #ff0000;
  font-weight: 900; }
.schedule .tbSche thead {
  border: 1px solid black; }
.schedule .tbSche .music {
  background-image: url(images/schedule/music.png);
  background-size: 28%;
  background-repeat: no-repeat;
  background-position: center; }
.schedule .tbSche .contai {
  background-image: url(images/schedule/contai.png);
  background-size: 28%;
  background-repeat: no-repeat;
  background-position: center; }
.schedule .tbSche td {
  font-size: 20px;
  padding: 0px;
  font-weight: bold;
  padding-left: 10px;
  height: 85px;
  font-family: hira;
  border: 1px solid black; }
.schedule .tbSche th {
  background-color: #96ffff;
  border: 1px solid black;
  text-align: center;
  font-family: hira;
  color: #0024ff; }
.schedule .tbSche .sunText {
  background-color: #fcb9d4;
  color: #ff0000; }
.schedule .scheBox {
  display: -webkit-flex;
  padding: 30px 0px 30px 30px;
  border: 1px solid black; }
  .schedule .scheBox span {
    width: 28%;
    font-size: 30px;
    font-weight: 800; }
    .schedule .scheBox span img {
      width: 16%; }
.schedule .red {
  color: #ff0000; }
.schedule .titCol h3 {
  text-align: center;
  margin: 30px 0; }
.schedule .colSche {
  position: relative;
  margin-top: 30px;
  border-top: 4px dotted #ffa319; }
.schedule .bgTit {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 24px;
  padding: 5px 61px;
  background: url(images/schedule/colBg.png) no-repeat;
  background-position: center;
  color: white; }
.schedule h3 {
  font-size: 35px;
  font-weight: bold; }
.schedule .tdInline {
  display: inline-block; }
.schedule .colTab td {
  height: 70px; }
.schedule .colTab td:first-child {
  width: 135px;
  text-align: center;
  vertical-align: middle;
  font-weight: 800; }
.schedule .colTab td:last-child {
  color: #655f5f;
  font-weight: 800; }
  .schedule .colTab td:last-child img {
    margin: 0 20px; }
.schedule .imgCol {
  width: 50px; }
.schedule .home-left {
  margin-bottom: 30px; }
@media (max-width: 1200px) {
  .schedule .scheBox span {
    width: 28%;
    font-size: 20px;
    font-weight: 800; }
    .schedule .scheBox span img {
      width: 16%; }
  .schedule .tbSche td {
    height: 60px; } }
@media (max-width: 768px) {
  .schedule .tbSche {
    font-size: 11px; }
  .schedule .scheBox {
    display: -webkit-flex;
    padding: 30px 0px 30px 0px;
    border: 1px solid black; }
  .schedule .scheBox span {
    width: auto;
    padding: 0 5px; }
  .schedule .scheTitle {
    background-image: url(images/schedule/scheTitle.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0px 0; }
  .schedule .titCol {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .schedule .bgTit {
    position: inherit;
    margin-left: 10px; }
  .schedule .scheBox span img {
    width: 25%; } }
@media (max-width: 1100px) {
  .schedule .titCol {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .schedule .bgTit {
    position: inherit;
    margin-left: 10px;
    max-width: 50%; } }

/*# sourceMappingURL=schedule.css.map */
