.shop-list-avaId{
    margin-top: 20px;
    /*background-color: white;*/
    overflow: auto;
    border-radius: 10px;
}

.shop-list-home-left {
    /*margin-top: 30px;*/
    padding: 0;

    img {
        margin-bottom: 25px;
    }
}

.shop-list-content-item {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #fff;

    .replace {
        height: 340px;
    }
}

.shop-list-item{

    padding-top: 74px;

    .shop-list-pgh {
        font-size: 24px;
        text-align: center;
        line-height: 2;
        font-weight: bold;
    }

    .shop-list-pgp {
        font-size: 19px;
        /*text-align: center;*/
        line-height: 2;
        /*font-weight: bold;*/
        margin-left: 10px;
    }

    .right {
        position: relative;

        .chil {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        .parent {
            padding-right: 20px;
            width: 100%;
        }
    }

    .ft {
        text-align: center;
    }

    .shop-list-line {
        margin-top: 55px;
        /*text-align: center;*/
        padding-left: 10px;
        padding-right: 10px;
        /*margin-bottom: 50px;*/
        img {
            width: 100%;
        }
    }
}

.shop-list-footer {
        .paginators {
            padding: 0px;
        }
        img {
            width: 100%;
        }
    }











