@media all and (min-width: 320px) {
  .container-fluid {
    padding-right: 0px; }
    .container-fluid .tomo-list-item {
      padding-top: 10px;
      padding-left: 10px;
      margin: 0px; }
      .container-fluid .tomo-list-item .left {
        padding-right: 0px;
        padding-left: 0px; }
        .container-fluid .tomo-list-item .left img {
          width: 30%;
          padding: 3px; }
      .container-fluid .tomo-list-item .right {
        padding-right: 25px;
        padding-left: 0px; }
        .container-fluid .tomo-list-item .right .title img {
          width: 100%; }
        .container-fluid .tomo-list-item .right .content {
          background: url(images/cash-feature-item/lg-bk.jpg); }
          .container-fluid .tomo-list-item .right .content .line {
            background: url(images/cash-feature-item/line.jpg);
            height: 10px; }
          .container-fluid .tomo-list-item .right .content .nen {
            background: url(images/cash-feature-item/sm1-bk.jpg); }
          .container-fluid .tomo-list-item .right .content .avatar img {
            width: 100%;
            padding: 3px;
            margin-top: 20px; }
          .container-fluid .tomo-list-item .right .content .texts h2 {
            font-weight: 300;
            font-size: 20px; }
          .container-fluid .tomo-list-item .right .content .for-loop {
            margin: 0px;
            padding-bottom: 50px;
            padding-top: 10px; }
            .container-fluid .tomo-list-item .right .content .for-loop .question p {
              color: #1901ff;
              font-weight: bold; }
            .container-fluid .tomo-list-item .right .content .for-loop .answer {
              margin-left: 20px;
              font-weight: bold; } }
@media all and (min-width: 600px) {
  .tomo-list-item .right .content .texts {
    padding-top: 67px;
    text-align: right;
    padding-right: 60px;
    /*h2 {
    	font-weight: 300;
    	font-size: 20px;
    }*/ }
    .tomo-list-item .right .content .texts p {
      line-height: 38px; }
  .tomo-list-item .right .content .for-loop .question p {
    font-size: 30px; }
  .tomo-list-item .right .content .for-loop .answer {
    text-align: left;
    font-size: 20px;
    margin-left: 42px; } }
@media all and (min-width: 768px) {
  .tomo-list-item .left img {
    width: 90% !important;
    padding-bottom: 10px !important; }
  .tomo-list-item .right .content .for-loop .question p {
    font-size: 25px; } }
@media all and (min-width: 1280px) {
  .tomo-list-item .left img {
    width: 100% !important;
    padding-right: 40px !important;
    padding-bottom: 20px !important; }
  .tomo-list-item .right .content .avatar {
    padding-top: 60px;
    padding-left: 27px;
    padding-bottom: 60px; }
  .tomo-list-item .right .content .line {
    margin-bottom: 45px; }
  .tomo-list-item .right .content .for-loop {
    margin-bottom: 70px !important; }
    .tomo-list-item .right .content .for-loop .question {
      text-align: center; }
      .tomo-list-item .right .content .for-loop .question p {
        font-size: 40px; }
    .tomo-list-item .right .content .for-loop .answer p {
      font-size: 26px;
      margin-left: 100px;
      line-height: 42px; } }

/*# sourceMappingURL=tomo-list-item.css.map */
