@media all and (min-width: 320px) {
	.container-fluid {
		padding-right: 0px;

		.tomo-list-item {
			padding-top: 10px;
    		padding-left: 10px;
    		margin: 0px;

			.left {
				padding-right: 0px;
				padding-left: 0px;

				img {
					width: 30%;
					padding: 3px;
				}
			}

			.right {
				padding-right: 25px;
				padding-left: 0px;

				.title {

					img {
						width: 100%;
					}
				}

				.content {
					background: url(images/cash-feature-item/lg-bk.jpg);

					.line {
						background: url(images/cash-feature-item/line.jpg);
						height: 10px;
					}

					.nen {
						background: url(images/cash-feature-item/sm1-bk.jpg);
					}

					.avatar {
						img {
							width: 100%;
							padding: 3px;
							margin-top: 20px;
						}
					}

					.texts {
						h2 {
							font-weight: 300;
							font-size: 20px;
						}
					}

					.for-loop {
						margin: 0px;
						padding-bottom: 50px;
						padding-top: 10px;

						.question {
							p {
								color: #1901ff;
								font-weight: bold;
							}
						}

						.answer {
							margin-left: 20px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 600px) {
	
	.tomo-list-item {
		
		.right {

			.content {

				.texts {
					padding-top: 67px;
			    	text-align: right;
			    	padding-right: 60px;
					/*h2 {
						font-weight: 300;
						font-size: 20px;
					}*/
					p {
						line-height: 38px;
					}
				}

				.for-loop {
					.question {
						p {
							font-size: 30px;
						}
					}

					.answer {
						text-align: left;
						font-size: 20px;
						margin-left: 42px;
					}
				}
			}
		}
	}
}

@media all and (min-width: 768px) {
	.tomo-list-item {
		.left {
			img {
				width: 90% !important;
				padding-bottom: 10px !important;
			}
		}

		.right {
			.content {
				.for-loop {
					.question {
						p {
							font-size: 25px;
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 1280px) {
	.tomo-list-item {
		.left {
			img {
				width: 100% !important;
				padding-right: 40px !important;
				padding-bottom: 20px !important;
			}
		}

		.right {
			.content {
				.avatar {
					padding-top: 60px;
				    padding-left: 27px;
				    padding-bottom: 60px;
				}

				.line {
					margin-bottom: 45px;
				}

				.for-loop {
					margin-bottom: 70px !important;

					.question {
						text-align: center;

						p {
							font-size: 40px;
						}
					}

					.answer {
						p {
							font-size: 26px;
						    margin-left: 100px;
						    line-height: 42px;
						}
					}
				}
			}
		}
	}
}











